<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventAI_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EventAI_Creator.Properties.Settings>
            <setting name="DBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUSER" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPW" serializeAs="String">
                <value />
            </setting>
            <setting name="DBMANGOS" serializeAs="String">
                <value />
            </setting>
            <setting name="DBSD" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHUSE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSHHOST" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHPORT" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHUSER" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHPW" serializeAs="String">
                <value />
            </setting>
            <setting name="SSHRPORT" serializeAs="String">
                <value />
            </setting>
        </EventAI_Creator.Properties.Settings>
    </userSettings>
</configuration>